.search-bar {
  height: 5px !important;
  margin: 10px !important;
}

.search__bar {
  margin: 20px !important;
  margin-bottom: 0px !important;
}

.feed__box {
  margin: 20px !important;
}

.meta__information > a {
  color: grey;
}

.custom__header {
  background-color: #ff742b;
}

.feed__content > a {
  color: black;
}

.container__class {
  background-color: #f6f6ef;
}
